body {
  margin: 0;
}

header {
  display: flex;
  background-color: salmon;
  color: white;
  justify-content: center;
}
/* <!-- TO DO:Update Header tag with back ground color, and flex applied in css --> */
/* <!-- TO DO: format h1 text --> */
