body {
  margin: 0;
  background-color: #c6c8cc;
}

header {
  display: flex;
  background-color: #faa094ff;
  color: white;
  justify-content: center;
}

.navbar-light {
  background-color: #9ed9ccff;
}

.navbar {
  display: flex;
  justify-content: center;
}

.aboutMe {
  background-color: white;
  max-width: 1000px;
  margin: auto;
}

#darcy {
  width: 100%;
  height: auto;
  display: flex;
}

#kili {
  width: 100%;
  height: auto;
  display: flex;
}
