body {
  margin: 0;
  background-color: #c6c8cc;
}

header {
  display: flex;
  background-color: #faa094ff;
  color: white;
  justify-content: center;
}

.navbar-light {
  background-color: #9ed9ccff;
}

.navbar {
  display: flex;
  justify-content: center;
}

.aboutMe {
  background-color: white;
}

#darcy {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
}

#kili {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
}
